h1 {
    color: blue;
    font-size: 100px;
    font-weight: bold;
}
.main-header--title {
    display: flex;
    height: 1000px;
    width: 1000px;
    background-color: brown;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}